:local(.element) {
  background: var(--light);
  color: var(--secondary);
  height: var(--bar-height);
  vertical-align: middle;
  align-items: center;
  display: flex;
  padding: var(--spacer);
}

:local(.name) {
  font-weight: bold;
}

:local(.data) {
  margin-right: var(--spacer);
}
