@import "../../theme/variables.scss";

:local(.label) {
  color: $gray;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

:local(.title) {
  text-transform: uppercase;
}

:local(.value) {
  margin-left: 0;
  display: inline-block;
  width: 50%;
}

:local(.group) {
  margin: 2 * $spacer 0;
}
