@import "../../theme/variables.scss";

:local(.element) {
  max-width: $breakpoint-xl;
  position: relative;
  margin: auto;
}
:local(.image) {
  width: 100%;
}

:local(.recap) {
  position: absolute;
  bottom: $spacer;
  left: $spacer;
  column-count: 4;
  column-gap: $spacer;
}

:local(.recapCell) {
  background: $white;
  padding: $spacer;
  text-align: center;
}

:local(.recapIcon) {
  width: 30px;
}

:local(.recapLabel) {
  white-space: nowrap;
  font-weight: bold;
}
