@import "../../theme/variables.scss";

:local(.element) {
  max-width: $breakpoint-xl;
  position: relative;
  margin: auto;
}

:local(.image) {
  width: 100%;
}

:local(.recap) {
  @media (min-width: $breakpoint-md) {
    position: absolute;
    bottom: $spacer;
    column-count: 4;
    column-gap: $spacer;
  }
}

:local(.recapCell) {
  display: flex;
  align-items: center;
  margin-top: $spacer;
}

:local(.recapIcon) {
  width: 30px;
  margin-right: $spacer;
}

:local(.recapLabel) {
  // white-space: nowrap;
  font-weight: bold;
  margin-right: $spacer;
}
