@import "./variables";
@import "./typography";

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: $font-family-normal;
  color: $dark;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: $spacer;
}
