@import "../../theme/variables.scss";

:local(.container) {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(6, 1fr);
  }
}
