@import "../../theme/variables.scss";

:local(.medias) {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(6, 1fr);
  }
}

:local(.mediasItem) {
  max-width: 100%;
}

:local(.modal) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

:local(.modalImage) {
  max-width: 100%;
}

:local(.modalButton) {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

:local(.modalPreviousButton) {
  left: $spacer;
}

:local(.modalNextButton) {
  right: $spacer;
}
