*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f7a100;
  --secondary: #0071b3;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-header: 'Proxima Nova',BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  --font-family-normal: 'Proxima Nova',BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(./assets/fonts/proximanova-regular.woff2) format("woff2")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    src: url(./assets/fonts/proximanova-semibold.woff2) format("woff2")
}

html {
    font-family: var(--font-family-normal);
    color: #333;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 1.5
}


body {
  font-family: var(--font-family-normal);
  color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  margin-bottom: 1em;
  margin-top: 0;
}


